
<head th:fragment="head_layout">

    <!-- title 공통적용 -->
    <title>Study-familiar</title>

    <!-- index -->
    <link rel="stylesheet" href="/layout/layout.css" type="text/css"/>
    <script type="text/javascript" src="/layout/layout.js"></script>

    <!-- header -->
    <link rel="stylesheet" href="/layout/header.css" type="text/css"/>
    <script type="text/javascript" src="/layout/header.js"></script>

    <!-- footer -->
    <link rel="stylesheet" href="/layout/footer.css" type="text/css"/>
    <script type="text/javascript" src="/layout/footer.js"></script>

</head>


