/*PC에 적용할 CSS*/

    #content {
      display: flex;
      flex-direction : column;
      align-items: center;
    }


    #level1_level2_categorize{
        width:40%;
        height:100%;

        padding : 20px 0px 20px 30px;
        border: 1px solid black;

        font-family:나눔고딕;
        font-size:30px;
        font-weight: 1000;
        text-align: left;
    }


    #question{
        width:40%;
        height:500px;

        padding : 20px 0px 20px 30px;
        border: 1px solid black;

        font-family:나눔고딕;
        font-size:20px;
        font-weight: 1000;
        text-align: left;
    }


    #answer{
        width:40%;
        height:100%;
        padding : 20px 0px 20px 20px;
        border: 1px solid black;

        font-family:나눔고딕;
        font-size:15px;
        font-weight: 600;
        text-align: left;
    }

    #next{
        width:90%%;
        height:100%%;

        padding : 0px 10px 10px 10px;

        border: 1px solid black;
        background-color: #F2F2F2;

        font-size:50px;
        font-weight: 600;
        text-align: center;

        cursor : pointer;
    }






/*모바일에 적용할  CSS*/
    @media (max-width: 767px){

        #content {
          display: flex;
          flex-direction : column;
          align-items: center;
        }


        #level1_level2_categorize{
            width:95%;
            height:100%;

            padding : 10px 0px 10px 30px;
            border: 1px solid black;

            font-size:15px;
            font-weight: 800;
            text-align: left;
            background-color: #546E7A;
            color : white;
        }


        #question{
            width:95%;
            height:100%;

            padding : 30px 0px 30px 30px;
            border: 1px solid black;

            font-size:15px;
            font-weight: 800;
            text-align: left;
        }


        .example{
            width:95%;
            height:100%;

            padding : 20px 0px 20px 20px;

            border: 1px solid black;
            background-color: #F2F2F2;

            font-size:13px;
            font-weight: 600;
            text-align: left;

            cursor : pointer;
        }



    }