<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study-familiar</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script src="/00. index/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/00. index/index.css"/>
    <head th:replace="lib_import_tag/head_layout :: head_layout"></head>
</head>
<body>

    <header th:replace="layout/header :: header"></header>

    <content>
        <img style="width:1000px" src="/img/메인화면.jpg">
    </content>

    <footer th:replace="layout/footer :: footer"></footer>

</body>
</html>