<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<head th:replace="lib_import_tag/head_jqwidgets_lib :: jqwidgets_lib"></head>
		<head th:replace="lib_import_tag/head_layout :: head_layout"></head>
		<script type="text/javascript" src="/js_common/ajax.js"></script>
		<script type="text/javascript" src="/js_common/module_jqxgrid.js"></script>
		<link rel="stylesheet" type="text/css" href="/02. solve_a_question/solve_a_question_main.css">
		<script type="text/javascript" src="/02. solve_a_question/solve_a_question_main.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/jqxgrid_level1.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/jqxgrid_level2.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/jqxgrid_categorize_group.js"></script>

	</head>
	<body>

		<header th:replace="layout/header :: header"></header>
		<content id="content_tag">
			<div id="bnt_area">
				<input type="button" value="목록 가져오기" id="copy_study_menu"/>
				<input type="button" value="기록 초기화" id="record_reset"/>
			</div>
			<div id="menu_area" >
			</div>
			<div id="previous_button_area">
			</div>
		</content>

	</body>
</html>



























