<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>solve a question ^^ </title>
		<link rel="shortcut icon" href="/img/favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js_common/ajax.js"></script>
		<link rel="stylesheet" type="text/css" href="/02. solve_a_question/solve_a_question.css">
		<script type="text/javascript" src="/02. solve_a_question/class_studyController.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/class_Study_data.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/class_Study_view.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/class_Study_step.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/class_KnowledgeDTO.js"></script>
		<script type="text/javascript" src="/02. solve_a_question/solve_a_question.js"></script>

	</head>
	<body>

		<input type="hidden" id="receive_level1" th:value="${level1}"/>
		<input type="hidden" id="receive_level2" th:value="${level2}"/>
		<input type="hidden" id="receive_categorize_group" th:value="${categorize_group}"/>



		<div id='container'>
		
			<div id='title'>
				<h1 id='title_h1'>
				</h1>	
			</div>

			<div id='content'>
				<textarea id='level1_level2_categorize' style="resize: none;" readonly="readonly">여기는 카테고리</textarea><br>
				<textarea id='question' style="resize: none;" readonly="readonly">여기는 질문</textarea><br>
				<textarea id="answer"></textarea>
				<div id="next">▶</div>
			</div>
		
		</div>



	</body>
	
</html>



























