<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.knowledge_manage.KnowledgeManageMapper">


    <select id="selectLevel1" resultType="HashMap">
        select distinct(level1)
          from Knowledge
         order by level1
    </select>



    <update id="updateLevel1" parameterType="HashMap" >
        update Knowledge
        set level1 = #{after_level1}
        where level1 = #{before_level1}
    </update>



    <select id="selectLevel2" parameterType="String" resultType="HashMap">
        select distinct(level2)
          from Knowledge
         where level1 = #{level1}
         order by level2
    </select>



    <update id="updateLevel2" parameterType="HashMap" >
        update Knowledge
           set level2 = #{after_level2}
         where level1 = #{level1}
           and level2 = #{before_level2}
    </update>



    <select id="selectCategorize_group" parameterType="String" resultType="HashMap">
        select A.categorize_group
          from Knowledge A
          left outer join common B
            on B.categorize = 'categorize_group'
           and B.subject = A.categorize_group
         where level1 = #{level1}
           and level2 = #{level2}
         group by A.categorize_group
         order by B.order_num
    </select>



    <select id="selectKnowledge" parameterType="String" resultType="study.knowledge_manage.KnowledgeDTO">
        select * from Knowledge
         where level1 = #{level1}
           and level2 = #{level2}
           and categorize_group = #{categorize_group}
         order by order_num
    </select>



    <select id="selectId" parameterType="int" resultType="int">
        select count(id)
          from Knowledge
         where id = #{id}
    </select>



    <insert id="insertKnowledge" parameterType="study.knowledge_manage.KnowledgeDTO">
        insert into Knowledge( id , order_num , level1 , level2 , categorize_group , categorize , question , answer )
        values ( fn_get_seq('knowledge') , #{order_num}  , #{level1} , #{level2} , #{categorize_group} , #{categorize} , #{question} , #{answer} )
    </insert>



    <update id="updateKnowledge" parameterType="study.knowledge_manage.KnowledgeDTO">
        update Knowledge
           set order_num = #{order_num}
             , level1 = #{level1}
             , level2 = #{level2}
             , categorize_group = #{categorize_group}
             , categorize = #{categorize}
             , question = #{question}
             , answer = #{answer}
        where id = #{id}
    </update>



    <delete id="deleteKnowledge" parameterType="int">
        delete from Knowledge
        where id = #{id}
    </delete>



    <select id="selectCommon" parameterType="String" resultType="String">
        select subject
        from common
       where categorize = #{categorize}
       order by order_num
    </select>



</mapper>